<div class="nav-struct">
  <nav class="navbar sticky-top navbar-expand-lg nav-border">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 nav-logo">Keith Francis</span>
      <div class="d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#about">ABOUT</a>
            </li>
            <li class="nav-item left-pad">
              <a class="nav-link" href="#portfolio">PORTFOLIO</a>
            </li>
            <li class="nav-item left-pad">
              <a class="nav-link" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
