<div class="main-div">
  <hr class="top-hr">
    <h1>ABOUT ME</h1>
  <hr class="bottom-hr">
  <h2>Web Designer | Front End Web Developer</h2>
  <h2>Lean Six Sigma Project Manager</h2>
  <div class="data-box">
    <p>June - 2002</p>
    <p>Joined Military Services USMC</p>
  </div>

  <div id="left-timeline">
    <div class="data-box">
      <p>September - 2003</p>
      <p>Started Working as PME Tech</p>
    </div>
    <div class="data-box">
      <p>August - 2010</p>
      <p>Completed Lean Six Sigma Green Belt Training</p>
      <p>- Started Project Management</p>
    </div>
    <div class="data-box">
      <p>October - 2012</p>
      <p>Completedd Requirements for Senior Instructor</p>
    </div>
    <div class="data-box">
      <p>December - 2014</p>
      <p>Completed Military Service</p>
      <p>Honorable Discharge</p>
    </div>
    <div class="data-box">
      <p>December - 2019</p>
      <p>First in Family to graduate College</p>
      <p>- BS in Computer Science</p>
    </div>
    <div class="data-box">
      <p>June - 2020</p>
      <p>Started Masters Degree at University of Denver</p>
      <p>- MS in Web Design and Development</p>
    </div>

  </div>
  <div id="right-timeline">
    <div class="data-box">
      <p>June - 2004</p>
      <p>Completed Avionics Quality Assurance Certification</p>
    </div>
    <div class="data-box">
      <p>December - 2010</p>
      <p>Completed Instructor Certification</p>
      <p>- Started Lead Instructor</p>
    </div>
    <div class="data-box">
      <p>May - 2014</p>
      <p>Completed LSS Green Belt DOD Certification</p>
    </div>
    <div class="data-box">
      <p>August - 2015</p>
      <p>Started Computer Science Degree at Colorado State University</p>
    </div>
    <div class="data-box">
      <p>January - 2020</p>
      <p>Started Work as Freelance Web Designer and Front End Web Developer</p>
    </div>
    <div class="data-box">
      <p>July - 2021</p>
      <p>Ended Work as Freelancer</p>
    </div>
  </div>

  <div class="data-box">
    <p>December - 2021</p>
    <p>Expected Graduation from University of Denver</p>
  </div>
</div>
